*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.text-primany{
    color: #FD6E0A;
}
.btn-primary{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    list-style: none;
}
.header{
    background: #fadfdf;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center    ;
}
nav li{
    list-style: none;
    margin-left: 50px;
    
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

ul{
    display: flex;
    list-style: none;
    justify-content: 40px;
    /*margin: 50px 110px; */
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.title{
    font-weight: 700;
    font-size: 85px;


}
.sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;

}
img{
    max-width: 15%;
    min-height: 10%;
}
.discription{
    color: #666260;
    font-size: 18px;
    margin-bottom: 30px;
}

/* About*/
main{
    min-width: 1140px;
    margin: 0 auto;
}

.about{
    
    background: #fadfdf;
    border-radius: 10px;
    padding: 130px 150px;

}
.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;

}
.section-discription{
    text-align: center;
    color: rgb(247, 143, 16);
    font-size: 18px;

}
.about-in{
    display: flex;
    justify-content: space-around;
    padding: 20px;

}

.info-title{
    font-size: 20px;
    color: #666260;
}
.info-dis{
    font-weight: 700;
    font-size: 20px;
    color: #666260;

}

/* What I Do */
section{
    margin-top: 130px;
}
.text{
    text-align: center;
    margin-bottom: 30px;

}

.skill-contain{
    padding: 100px;
    display: flex;
    gap: 24px;
}

.skill{
    background: #fc7474;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-discription{
    color: #666260;

}
/* Resume Section */
.main-div{
    display: flex;
    padding: 40px;
    margin: 100px 100px;
    gap: 24px 40px;
    
}
.text-1{
    padding: 20px;
    margin-bottom: 30px;
    justify-content: space-around;
    
    
}
.text-2{
    padding: 30px;
    margin-bottom: 30px;
    justify-content: space-around;
    
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}


.contact{
    display: flex;
    background-color: #a1f5e3;
    gap: 100px;
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;

}

.contact input, textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding-left: 18px 30px;
    
}
input{
    height: 64px;
}
.contact a{
    text-decoration: none;
}
